.title-page {
    color: gray;
    font-size: 60px;
    font-weight: bold;
}

.stock-input {
    height: 30px;
    width: 200px;
}

.stock-search {
    display: flex;
    flex-direction: column;
}

.large-container {
    display: flex;
    height: 400px;
    width: 800px;

    border: 1px solid blue;

}