.parent-container {
    display: flex;
    flex-direction: column;
}

.title-page {
    color: gray;
    font-size: 50px;
    font-weight: bold;
}

.stock-input {
    height: 50px;
    width: 200px;
    border-radius: 15px;
    padding-right: 5px;
}

.stock-search {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}
.stock-page {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 150px;

    background-color: black;
    color: white;
    height: 50px;

    border-radius: 15px;

}

.chart-container {
    width: 80vw;
    height: 700px;

}

.company-image {
    width: 250px;
    height: 250px;
}

.image-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    height: 700px;
    gap: 20px;

}

.large-container {
    display: flex;
    height: 400px;
    width: 800px;
}

.stock-analysis-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;

    border: 1px solid black;
}


.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 80%;

    border: solid blue 1px;
}

.stock-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.stock-table th, .stock-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.stock-table th {
    background-color: #f2f2f2;
}

.stock-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.stock-table tr:hover {
    background-color: #f1f1f1;
}

